<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="post">
            <input type="search" name="searchTerm" id="searchInput" aria-label="Search"
                placeholder="Search the blog..." />

        </form>

        <div id="searchClose">Close</div>
    </div>
</div>