<div class="author">
    <h1 class="author__heading"> Search Results</h1>
</div>

<section class="articles">
    <ul class="article__listing">

        <% data.forEach(post => { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span>
                        <%= post.title %>
                    </span>
                    <span class="article__listing_dt">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
         
        <% }) %>
      
    
    
    </ul>
</section>